<h1>Your Flickr User Claim Has Been Approved!</h1>

<p>
  Good news! Your request to claim the Flickr user <strong><%= @flickr_user.username %></strong> has been approved.
</p>

<p>
  <ul>
    <li><strong>Flickr Username:</strong> <%= @flickr_user.username %></li>
    <li><strong>Flickr Profile:</strong> <a href="<%= @flickr_user.profileurl %>"><%= @flickr_user.profileurl %></a></li>
  </ul>
</p>

<% if @flickr_user.description.present? %>
<p>
  If you added a verification code to your Flickr profile description, you can now remove it.
</p>
<% end %>

<p>
  Your friendly Photonia bot.
</p>
