$box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
$section-padding: 3rem 0.75rem;

@import "bulma-scss/bulma";
@import "bulma-block-list/src/block-list";

.tag span.icon {
  margin-right: 0.3em !important;
}

*[contenteditable="true"]:hover {
  background-color: yellow;
}

*[contenteditable="true"]:focus {
  background-color: white !important;
}

.button.is-image-button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  min-height: 2.25em;
  white-space: unset;
  height: auto;
  flex-direction: column;
}

#photo-title-container {
  @include from(769px) {
    margin-right: 0.75rem;
  }
}

.section-pt-pb-0 {
  @extend .section;
  padding-top: 0;
  padding-bottom: 0;
}