<% content_for(:page_title, 'Photos' + (@pagy.page == 1 ? '' : " - Page #{@pagy.page}")) %>
<h1>Photos</h1>
<hr>
<div>
  <% @photos.each do |photo| %>
    <div>
      <a href="<%= photo_path(photo) %>">
        <img src="<%= photo.image_url(:medium_intelligent).presence || photo.image_url(:medium_square) %>" />
        <%= photo.name.presence || '(no title)' %>
      </a>
    </div>
  <% end %>
</div>
<hr>
<%== pagy_bulma_nav(@pagy) %>
